@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600&family=Poppins:wght@300;400;600;700&display=swap');

/* ========== base styling ============ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: whitesmoke;
}

h1, h2, h3 {
    margin: 1.6rem 0;
    margin: 1.6rem 0;
    margin: 1.6rem 0;
}

h1 {
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;

}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

section {
    padding: 100px 0;
}

:root {
    --skyblue: #0097e6;
    --white: #ffffff;
}

/* ========== hero section / navbar ========== */

header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../images/bannar.jpg") no-repeat center/cover;
}

.logo h1 {
    font-size: 3.2rem;
    color: var(--skyblue);
    margin: 0;
}

nav {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover {
    color: var(--skyblue);
    transition: .5s ease-in-out;
}

nav i {
    font-size: 2.4rem;
    color: var(--white);
}

nav .fa-bars {
    display: none;
}

/* ============== media quires navbar================== */

@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        position: relative;
    }

    nav .fa-bars {
        display: block;
        position: absolute;
        top: 18px;
        right: 32px;
    }

    nav ul {
        background: whitesmoke;
        display: none;
        width: 100%;
    }

    .showmenu {
        display: block;
    }

    nav ul li {
        padding: 2% 0;
        display: block;
    }

    nav ul li a {
        color: black;
    }
}

/* =============== hero sectiion =========== */

.header-content {
    width: 80%;
    position: relative;
    top: 10%;
    left: 8%;
    color: whitesmoke;
}

form {
    margin: 2.4rem 0;
}

input {
    font-size: 1.8rem;
}

input[type=text],
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
    outline: none;
}

input[type=submit] {
    width: 50%;
    background-color: var(--skyblue);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: whitesmoke;
}

input::placeholder {
    font-size: 1.5rem;
    color: #ccc;
}


@media only screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        top: 6%;
        left: 0;
        text-align: center;
        padding: 0 8px;
    }

    input[type=text],
    input[type=email],
    input[type=submit] {
        width: 80%;
        margin: 1.2rem auto;
    }
}

/* ================== about ============= */

.about-left,
.about-middle,
.about-right {
    flex-basis: 30%;
    padding: 1.6rem;
}

.btn {
    background-color: var(--skyblue);
    padding: 8px 16px;
    display: inline-block;
    margin: 2rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: whitesmoke;
}

/* ============= about 2 =============== */

.about-2 {
    padding: 90px 0;
}

.fa-apple,
.fa-android,
.fa-database,
.fa-chart-line {
    font-size: 60px;
    color: var(--skyblue);
}

.about-2 {
    background-color: #222;
    color: whitesmoke;
}

.about-2-left {
    flex-basis: 50%;
}

.about-2-right {
    flex-basis: 30%;
}

.about-2 .card {
    padding: 3rem 8rem;
    color: #222;
    background-color: #dcdcdc;
    margin: 1.6rem;
    text-align: center;
}

/* ======= process ======== */

.process .row {
    justify-content: center;
}

.process-content {
    margin-top: 100px;
}

.progress-bar {
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}

.progress-bar .c1, .c2, .c3 {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
}

.progress-bar .c1 {
    top: -8px;
    left: 50px;
}

.progress-bar .c2 {
    top: -8px;
    left: 50%;
}

.progress-bar .c3 {
    top: -8px;
    right: 50px;
}

.box-1,
.box-2,
.box-3 {
    padding: 1.8rem;
}

.process .box-2 {
    text-align: center;
}

.process .box-3 {
    text-align: right;
}

.process-content h2 {
    color: var(--skyblue);
}


@media only screen and (max-width: 768px){
    .progress-bar{
        display: none;
    }
    .process-content{
        margin-top: 20px;
    }
    .process .box-1,
    .process .box-2,
    .process .box-3{
        text-align: center;
    }
}

/* ============ testimony ========== */

.testimony {
    background-color: #222;
    color: whitesmoke;
}

.fa-star, .fa-star-half-alt {
    font-size: 12px;
    color: goldenrod;
}

.testimony .test {
    background-color: #505050;
    padding: 4rem 8rem;
    margin: 0 1rem;
}

.testimony .image {
    height: 60px;
    width: 60px;
}

.testimony img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 768px){
    .testimony .test{
        margin: 16px 0;
    }
}

/* ============== contact ============ */
.contact .row {
    justify-content: center;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input {
    width: 50%;
}

.contact textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #ccc;
    outline: none;
    resize: none;
    margin: 12px 0;
}

@media only screen and (max-width: 768px){
    .contact form input,
    .contact textarea {
         width: 100%;
    }
}


/* ============= footer ============ */

footer {
    height: 80px;
    background-color: #222;
    color: white;
    line-height: 80px;
    text-align: center;
}

.fa-heart {
    font-size: 16px;
    transform: translateY(-5px);
    color: red;
}


/* ============ media quires ========== */